/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
h1
{
color: black;
height: 30px;
text-align: center;
}
p
{
height:15px;
text-align: center;
}

.tabla-persona {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.tabla-persona th {
  background-color: #1E90FF; 
  color: black;
  font-weight: bold;
  padding: 8px;
  border: 5px solid black;
  text-align: left;
}

.tabla-persona td {
  background-color: #C0C0A0; 
  padding: 8px;
  border: 5px solid black;
}
